<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Length Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultpositive.css') }}">
</head>
<body>
    <div class="container" style="margin-top: -23.5%;width: 1300px;">
        <h1>Analysis</h1>
        <p id="hey">{{company}} seems to have moderately positive sign with a sentiment score of {{ news }}, and here is what the analyzer thinks: <br> {{think}}</p>
        <a href="/">Go back</a>
    </div>
</body>
</html>
